body {
  height: 100%;
  width: 100%;
  font-size: 24px;
}

.side-bar {
  float: left;
  height: 100vh;
  width: 350px;
  background-color: #06A230;
  &__user-box {
    height: 200px;
    width: 300px;
    margin: 25px;
    line-height: 1.5;
    background-color: #FFFFFF;
    &__user-name {
      display: inline-block;
      margin: 30px 0px 0px 15px;
    }
    &__email, &__reference-folder {
      margin-left: 30px;
      line-height: 1.5;
      font-size: 18px;
    }
    & ul li {
      float: right;
      margin: 10px 20px 0px 0px;
      list-style-type: none;
      font-size: 36px;
    }
  }
  &__content-boxes {
    height: calc(100vh - 300px);
    width: 300px;
    margin: 25px 25px 25px;
    background-color: #FFFFFF;
    &__search-box {
      height: 25vh;
      background-color: #54BE7C;
    }
    &__playlists-box {
      height: 30vh;
      background-color: #FFFFFF;
    }
  }
}

.music-player {
  position: absolute;
  height: 250px;
  width: calc(100vw - 350px);
  margin-left: 350px;
  background-color: #54BE7C;
  &__album-work {
    float: left;
    height: 200px;
    width: 200px;
    margin: 25px 50px;
    background-color: #FFFFFF;
  }
  &__name_artists {
    float: left;
    height: 60px;
    width: 640px;
    margin-top: 25px;
    padding-left: 10px;
    line-height: 60px;
    background-color: #FFFFFF;
  }
  &__music-components {
    position: absolute;
    top: 90px;
    left: 300px;
    height: 120px;
    width: 650px;
    text-align: center;
    letter-spacing: -0.4em;
    &__seekBar {
      width: 650px;
      margin: 0px !important;
    }
    &__seekBar progress {
      width: 600px;
    }
    &__current-time, &__music-time {
      margin-top: 10px;
      letter-spacing: normal;
    }
    &__current-time {
      float: left;
    }
    &__music-time {
      float: right;
    }
  }
  &__music-components li {
    list-style-type: none;
    display: inline-block;
    margin: 20px 18px;
    font-size: 32px;
    color: green;
    &:active {
      transform: translateY(2px);
    }
  }
  &__visualiser {
    height: 200px;
    width: calc(100% - 1000px - 25px);
    margin: 25px 25px;
    margin-left: auto;
    background-color: #FFFFFF;
  }
}

.music-lists {
  position: absolute;
  top: 250px;
  left: 350px;
  background-color: #FFFFFF;
  table#music-lists-table {
    height: calc(100vh - 250px);
    width: calc(100vw - 350px);
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: darkgray;
    color: #FFFFFF;
    &:hover {
      cursor: default;
    }
    & thead {
      & tr th#head-ID {
        min-width: calc((100vw - 350px) * 0.03);
      }
      & tr th#head-titles {
        min-width: calc((100vw - 350px) * 0.25);
      }
      & tr th#head-artists {
        min-width: calc((100vw - 350px) * 0.15);
      }
      & tr th#head-album {
        min-width: calc((100vw - 350px) * 0.15);
      }
      & tr th#head-album-artists {
        min-width: calc((100vw - 350px) * 0.25);
      }
      & tr th#head-length {
        min-width: calc((100vw - 350px) * 0.1);
      }
      & tr th#head-genres {
        min-width: calc((100vw - 350px) * 0.1425);
      }
    }
    & tr th {
      border-color: #FFFFFF;
      border: solid 2px #FFFFFF;
      text-align: center;
      padding: 10px 0px;
    }
    & tbody {
      &:hover {
        cursor: pointer;
      }
      & tr td {
        border-color: #FFFFFF;
        border: solid 2px #FFFFFF;
        text-align: left;
        padding: 10px 10px 10px 10px;
      }
    }
  }
}

.active {
  background-color: rgb(154, 240, 187);
}